/* General Styles
---------------------------*/

body {
  padding: 60px 0 120px 0;
} 

.container {
  max-width: 85%;
  margin: 0 7.5% 0 7.5%;
}

h1 {
  font-family: 'Playfair Display', Goudy, Georgia, serif;
  font-size: 3em;
  font-weight: 900;
  letter-spacing: 0.03em;
}

h2 {
  font-family: 'Lora', Goudy, Georgia, sans-serif;
  font-weight: 400;
}

h2 a {
  text-decoration: none;
  color: #000;
  display: inline-block;
}

h3, h4 {
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

h4 a {
  text-decoration: none;
  color: #000;
  border-bottom: solid 2px #000;
}

a:hover {
  opacity: 0.5;
}

hr {
  clear: both;
}

hr.hrthick {
  border-top: none;
  border-bottom: solid 3px #000;
}

hr.hrthin {
  border-top: none;
  border-bottom: solid 1px #000;
}

p {
  font: 1em 'Lora', Georgia, serif;
  line-height: 1.45em;
}

p a {
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.alignleft {
  text-align: left;
  margin-left: 0;
}

.alignright {
  text-align: right;
  margin-right: 0;
}

/* Header + Nav
---------------------------*/

header {
  margin-bottom: 70px;
}

header h1 {
  letter-spacing: -0.02em;
  font-size: 4em;
  margin: 25px 0 25px 0;
  text-align: center;
}

header p {
  text-align: right;
}

nav ul {
  text-align: center;
  margin: 0;
  padding: 5px 0 4px 0;
}

nav ul li {
  font: 1em 'Poppins', Helvetica, Arial, sans-serif;
  display: inline;
  font-weight: 400;
  margin: 0 7px 0 7px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

nav ul#folionav li.alignleft {
  margin-left: 0;
}

nav ul li a {
  text-decoration: none;
  color: #000;
}

nav ul li a:hover {
  opacity: 0.5;
  font-weight: 400;
}

hr#toprule {
  margin-bottom: 10px;
}




/* Homepage
---------------------------*/

.col-left {
  width: 48%;
  float: left;
}

.col-right {
  width: 48%;
  float: right;
}

#maincontent h2 {
  font-size: 2.5em;
  line-height: 1em;
  margin: 0;
}

h3#category {
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  color: #000;
  font-weight: 400;
  margin: 10px 0 10px 0;
}

#maincontent h4 {
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}
h4#readmore {
  font-size: 1em;
  margin-top: 20px;
}

#maincontent h4 span {
  text-transform: none;
  font-weight: 300;
}

.col-left .csscolumns {
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  -webkit-column-fill: auto;
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -moz-column-fill: auto;
  column-count: 2;
  column-gap: 20px;
  column-fill: auto;
}

article {
  margin: 0;
}

article p {
  text-align: left;
}

img#folioimg {
  width: 100%;
  margin-bottom: 20px;
}

#maincontent hr {
  margin: 0 0 40px 0;
}


/* Footer
---------------------------*/

footer {
  margin-bottom: 50px;
}

hr#colophonrule {
  margin-bottom: 20px;
}

footer p {
  font: 0.8em 'Poppins', Helvetica, Arial, sans-serif;
  margin: 4px 0 4px 0;
}

.col-three {
  width: 48%;
  vertical-align: top;
  margin: 0;
}

.col-three#credits {
  float: left;
}

.col-three#links {
  float: right;
}